.chart {
    -fx-background-color: none;
    -fx-font-size: 22px;
    -fx-vertical-grid-lines-visible: false;
}

.chart-plot-background {
    -fx-background-color: none;
}

.axis{
    -fx-minor-tick-visible: false;
    -fx-tick-label-fill: #FFFFFF;
    -fx-color: white;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 0.3;
    -fx-stroke-dash-array: 0.1;
}

.chart-bar {
    -fx-bar-fill: #E6BB9A;
}

.chart-series-line{
    -fx-stroke: #FFFFFF;
}

.chart-line-symbol{
    -fx-background-color: #FFFFFF;
}

.default-color1.chart-series-line {
    -fx-stroke: #E6BB9A;
}

.default-color1.chart-line-symbol{
    -fx-background-color: #E6BB9A;
}